<div class="row align-middle">
      <div class="columns">
        <h2>Latest News</h2></div>
      <div class="small-12 medium-4 columns text-right">
        <div class="search-container">
          <div class="input-group">
            <div class="input-group-button">
              <i class="fa fa-search"></i>
            </div>
            <input class="input-group-field" aria-label="Filter list of content" type="search" name="q" value="" placeholder="Search" 
                data-search-limit="1" 
                data-search-endpoint="newscentrelist.html" 
                data-search-container="#ncl-1901513776"
                data-tagid="">
         </div>
        </div>
        <div class="search-button">
          <i class="fa fa-search"></i>
        </div>            
      </div>
    </div>
        
    <hr>
    
    <div id="ncl-1901513776" class="media-objects-list" aria-live="polite"><div class="media-object">
      <div class="media-object-section main-section">
        <h4><a href="../../../../../../presscenter/articles/20111/improved-learning-space-brings-hope-to-uba-hong-community-.html">Improved learning space brings hope to Uba Hong community </a></h4>
        <div class="show-for-medium">
            <p>Ruth Edward is a pupil of Government Science Secondary School (GSSS) in Uba Hong Local Government, Adamawa State. She joined the school in 2019 in hopes of earning an education so that one day she can&hellip; &nbsp;<a href="../../../../../../presscenter/articles/20111/improved-learning-space-brings-hope-to-uba-hong-community-.html" aria-hidden="true">Read more</a></p>
          </div>
        </div>
      <div class="media-object-section">
        <img src="https://www1.undp.org/content/dam/nigeria/img/_DSC6260.jpg/_jcr_content/renditions/cq5dam.thumbnail.319.319.png" alt=""/>
        </div>
    </div>        
  <span class="more"></span></div>
    
    <div class="card">
         <div class="card-section text-center">
           <a role="button" class="uppercase expanded" aria-label="Button to load more results to the list"><strong>View more</strong></a>
         </div>
      </div>
    