.projectData .first-project-details{
     background-color: #F8F8F8;
     padding-left: 3rem;
     padding-right: 3rem;
     padding-top: 2rem;
     padding-bottom: 2rem;
}
.projectData .highlights{
	color: #202020;
    font-family: Lora;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.projectData span.separator{
    border-top: 1px solid #DFDFDF;
    width: 100%;
    height: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;    
}

.projectData .highlights-block{
    padding-top: 1.5rem;
}
.projectData .first-project-details p.details-title{
   color: #202020;
   font-size: 16px;
   font-weight: 600;
   line-height: 21px !important;
   margin-bottom: 0px !important; 
}
.projectData .first-project-details p.details-text{
	color: #202020;
    font-size: 16px;
    line-height: 30px !important;
}
.first-project-details li.project-list-item, .second-project-details li.project-list-item{
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
}
.second-project-details li.project-list-item{
    font-weight: bold;
}

 .projectData .second-project-details h3{
	color: #202020;
    font-family: Lora;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.projectData .second-project-details{
	padding-top: 3rem;
}
.projectData .second-project-details li{
	color: #AEAEAE;
}
.projectData .second-project-details p.details-title{
	color: #0265B5;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px !important;
    margin-bottom: 0px !important;
    margin-top: 1.5rem;
}
.projectData .second-project-details p.details-text{
    font-size: 16px;
    line-height: 30px !important;
    margin-bottom: 0px !important;
    color: #AEAEAE;
    font-weight: bold;
}
.projectData .second-project-details p.details-text em{
    color: #0265B5;
	font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
 }
@media screen and (max-width:39.9375em){
    .projectData .second-project-details{
		padding-left: 3rem;
    	padding-right: 3rem;
    	padding-top: 2rem;
    	padding-bottom: 2rem;
	}

    .first-project-details li.project-list-item, .second-project-details li.project-list-item{
        font-size: 12px;
        line-height: 15px;
    }

    .projectData .highlights{
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
    }
    .projectData .first-project-details p.details-title{
       font-size: 12px;
       line-height: 21px !important;
    }
    .projectData .first-project-details p.details-text{
        font-size: 12px;
        line-height: 30px !important;
    }
    .projectData .second-project-details h3{
        font-size: 16px; 
    }
	.projectData .second-project-details .second{
       	margin-top: 1.5rem; 
    }

    .projectData .second-project-details p.details-title{
        font-size: 12px;
        line-height: 15px !important;
    }
    .projectData .second-project-details p.details-text{
        font-size: 12px;
        line-height: 15px !important;
     }
    .projectData .second-project-details p.details-text em{
        color: #0265B5;
        font-style: normal;
    	font-size: 12px;
        line-height: 15px;
     }
}
